<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <!-- 开启缓存后，可能会导致查询任何一页都返回第一页，请查阅pageHelper 与 mybatis-paginator插件 issuse -->
    <setting name="cacheEnabled" value="false" />
    <setting name="localCacheScope" value="STATEMENT"/>
    <!-- 2017-06-07 duyu -->
    <setting name="callSettersOnNulls" value="false"/>
  </settings>
</configuration>
