<div class="easyui-layout" data-options="fit:true" id='gift'>
    <!-- Begin of toolbar -->
    <div id="toolbargift">
        <!-- <div class="whayer-toolbar-button">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add"  plain="true">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit"  plain="true">修改</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        </div> -->
        <div class="whayer-toolbar-search">            
            <!-- <label>礼品名称：</label><input class="easyui-textbox iptGiftName" style="width:150px"> -->
            <!-- <a href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a> -->
           <!--  <a href="javascript:void(0)" class="easyui-linkbutton success icon-search giftQuery">查询</a> -->
            <a href="javascript:void(0)" class="easyui-linkbutton primary icon-search pd5 add">新增</a>
        </div>
    </div>
    <!-- End of toolbar -->
    <table id="datagridgift" class="easyui-datagrid"></table>
</div>
<!-- Begin of easyui-dialog -->
<div id="whayer-dialog-gift" class="easyui-dialog" data-options="closed:true" style="width:500px; padding:10px;min-height: 210px;">
	<form id="giftForm" method="post" enctype="multipart/form-data">
        <table style="width: 100%;">
        	<input type="hidden" name="id">
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">礼品名称:</td>
                <td><input type="text" name="name" class="easyui-textbox name" style="width: 100%;"   required="required"/></td>
            </tr>
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">有效期至:</td>
                <td><input id="deadline" name='deadline' type="text" class="easyui-datebox" style="width: 100%;" required="required"/></td>
            </tr>
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">描述:</td>
                <!-- <td><input type="text" name="detail" class="easyui-textbox" style="width: 100%;"/></td> -->
                <td><input type="text" name="detail" class="easyui-textbox code" 
                style="width:100%;height:60px" data-options="multiline:true"/   required="required"></td>
            </tr>
            <tr class="logoPriview">
                <td align="center" valign="top" style="width: 120px;margin-bottom: 15px;">产品图片:</td>
                <td class="logoImage"></td>
            </tr>
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">产品图片:</td>
                <td><input name="file" class="easyui-filebox" data-options="buttonText:'浏览',buttonIcon:'fa fa-upload',accept: 'image/*'" style="width: 100%;"></td>
            </tr>
        </table>
    </form>
</div>

<!-- End of easyui-dialog -->
<script type="text/javascript">
;(function($){	
	var gift = {
		list:[],
		init:function(){
			var _this = this;
			$('#datagridgift').datagrid({});
			_this.attachEvent();
			setTimeout(function(){
				_this.getgiftList();
			},100);			
		},
		/*
		* 事件初始化
		*/
		attachEvent:function(){
			var _this = this;
			/*
			* 表格操作
			* @ 编辑：edit，删除：delete；
			 */
			$('#gift').on("click","a.op",function(e){
				var $op = $(this);
				var rowindex = $op.attr('data-rowindex');
				var type = $op.hasClass('edit')?'edit':'delete';
				_this.opertion(type,rowindex);		
			});
			/*
			* 礼品查询
			*/
			$("#gift .giftQuery").on("click",function(){
				_this.getgiftList();
			});
			/*
			* 新增礼品
			 */
			$("#gift .add").on("click",function(){
				_this.openDialog();
			});
		},
		/*
		* 获取礼品列表
		*/
		getgiftList:function(){
			var _this = this;
			var URL = API.getGiftList;
			$('#datagridgift').datagrid({
				url:URL,
				method:'get',
				loadFilter:_this.pagerFilter,	
				height: 'auto',	
				rownumbers:true,
				singleSelect:false,
				pageSize:10,       
				pagination:true,
				multiSort:true,
				fitColumns:true,
				fit:true,
				singleSelect:true,
				checkOnSelect:false,
				toolbar:"#toolbargift",
				// queryParams: {
				// 	name: $("#gift .iptGiftName").textbox('getValue')
				// },
				columns:[[
					// { field:'ck',title:'全选',width:100,sortable:true,checkbox:true},
					{ field:'imgSrc',title:'礼品图片',width:100,align:'center',formatter:function(value,row,index){
						var src = row['imgSrc'];
						var dom = '';
						if(src){
							src= (API.proxy?'/proxy':'')+'/image/gift/'+src;
							dom = '<image src="'+src+'" class="logo-table"/>';
						}else{
							//无集团编码
							dom = '<image src="./img/logo.png"  class="logo-table"/>';
						}
						return dom;
					}},
					{ field:'name',title:'名称',width:180},
					{ field:'deadline',title:'截止日期',width:100,formatter:function(value,row,index){
						var deadline = new Date(row['deadline']).Format("yyyy-MM-dd");
						return deadline;
					}},
					{ field:'detail',title:'描述',width:100},
					{ field:'op',title:'操作',align:'left',width:180,formatter:function(value,row,index){
						var rowindex = index;
						var domHtml = '<a class="easyui-linkbutton primary op edit"  data-rowindex="'+rowindex+'">编辑</a><a class="easyui-linkbutton error op delete"  data-rowindex="'+rowindex+'">删除</a>';						
						return 	domHtml;					
					}}
				]],
				onBeforeLoad:function(params){
					params.pageSize = params.rows;
				    params.pageIndex = params.page;
				    delete params.rows;
				    delete params.page;				    
				},
				onLoadSuccess:function(data){
					_this.list = data.list;
					$("#gift a.op").linkbutton();
				}
			});
		},
		/*
		* easyui 自定义返回数据格式
		* 格式必须为{total:10,rows:[]}
		*/
		pagerFilter:function(data){
			if (!data.rows){
				data.rows = data.list;     
			}       
			return data;
		},
		/*
		*表格操作：编辑、删除
		 */
		opertion:function(type,rowindex){
			var _this = this;
			switch(type){
				case 'edit':
					_this.openDialog(rowindex);
					break;
				case 'delete':
					$.messager.confirm('提示', '是否删除该记录?', function (r) {
			            if (r) {
			                _this.deletegift(_this.list[rowindex]['id']);
			            }
			        });
					break;
			}
		},
		openDialog:function(rowindex){
			var _this = this;
			//清除数据
			$('#giftForm').form('clear');
			if(rowindex==""||rowindex==undefined){				
				//新增
				$('.logoPriview').hide();
				_this.addgift();
			}else{
				//编辑
				$('.logoPriview').show();
				var gift = _this.list[rowindex];
				//load数据				
				var deadline = new Date(gift['deadline']).Format("yyyy-MM-dd");
				gift['deadline'] = deadline;

				$('#giftForm').form('load',gift);
				//logo
				var imageSrc = gift['imgSrc'];
				var baseUrl = (API.proxy?'/proxy':'')+'/image/gift/';
				var imageUrl = baseUrl+imageSrc;
				var html = '<image src="'+imageUrl+'" class="logo-image"/>';
				$('.logoImage').html(html);
				//开始时间
				// var deadline = new Date(gift['deadline']).Format("yyyy-MM-dd");
				// $('#deadline').datebox('setValue',deadline);//开始时间
				

	            //打开对话框
				$('#whayer-dialog-gift').dialog({
					closed: false,
					modal:true,
		            title: "编辑",
		            buttons: [{
		                text: '确定',
		                iconCls: 'icon-ok',
		                handler: function(){
		                	var valid = _this.validateForm('giftForm');
							if(!valid){
								$.messager.alert('提示','必填项不能为空');
								return false;
							}else{
		                		$('#whayer-dialog-gift').dialog('close'); 
		                		_this.updategift();
		                	}		                	
		                }
		            }, {
		                text: '取消',
		                iconCls: 'icon-cancel',
		                handler: function () {
		                    $('#whayer-dialog-gift').dialog('close');                    
		                }
		            }]
		        });
		        $('#whayer-dialog-gift').window('center');//使Dialog居中显示
			}			
		},		
		validateForm:function(formId){
			var valid = $("#"+formId).form('validate');
			return valid;
		},
		addgift:function(){
			//需要登录
			var _this = this;
	        //打开对话框
			$('#whayer-dialog-gift').dialog({
				closed: false,
				modal:true,
	            title: "新增礼品",
	            buttons: [{
	                text: '确定',
	                iconCls: 'icon-ok',
	                handler: function(){
	                	var valid = _this.validateForm('giftForm');
						if(!valid){
							$.messager.alert('提示','必填项不能为空');
							return false;
						}else{
							$('#whayer-dialog-gift').dialog('close');	
		                	var url = API.addGift;
							var form = new FormData(document.getElementById("giftForm"));
							whayer.submitForm(url,form,function(res){
								_this.getgiftList();
							});
						}	                	
	                }
	            }, {
	                text: '取消',
	                iconCls: 'icon-cancel',
	                handler: function () {
	                    $('#whayer-dialog-gift').dialog('close');                    
	                }
	            }]
	        });	
	        $('#whayer-dialog-gift').window('center');//使Dialog居中显示
		},
		/*
		* 删除礼品
		* @ id,礼品id
		 */
		deletegift:function(id){
			var _this = this;
			var url = API.deleteGift;
			var data = {id:id};
			whayer.post(url,data,function(res){
				 _this.getgiftList();
			});			
		},
		/*
		* 提交表单，更新礼品信息
		 */
		updategift:function(){
			var _this = this;	
			var form = new FormData(document.getElementById("giftForm"));			
			var url = API.updateGift;
			whayer.submitForm(url,form,function(res){
				_this.getgiftList();
			}); 
		}

	};
	//
	gift.init();	

})(jQuery);
	
</script>