<div class="easyui-layout" data-options="fit:true" id='coupon'>
    <!-- Begin of toolbar -->
    <div id="toolbar-coupon">
        <!-- <div class="whayer-toolbar-button">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add"  plain="true">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit"  plain="true">修改</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
        </div> -->
        <div class="whayer-toolbar-search">            
            <!-- <label>优惠券编码：</label><input class="easyui-textbox" style="width:150px" class="couponCode"> -->
            <!-- <a href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a> -->
            <a href="javascript:void(0)" class="easyui-linkbutton success icon-search query">查询</a>
            <a href="javascript:void(0)" class="easyui-linkbutton primary icon-search pd5 add">新增</a>
        </div>
    </div>
    <!-- End of toolbar -->
    <table id="datagrid-coupon" class="easyui-datagrid"></table>
</div>
<!-- Begin of easyui-dialog -->
<div id="whayer-dialog-coupon" class="easyui-dialog" data-options="closed:true" style="width:400px; padding:10px;min-height: 210px;">
	<form id="couponForm" method="post">
        <table style="width: 100%;">
            <tr class="couponEdit">
                <td align="center" style="width: 120px;margin-bottom: 15px;">优惠券编码:</td>
                <td><input type="text" name="id" class="easyui-textbox" disabled style="width: 100%;" /></td>
            </tr>
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">面值:</td>
                <td><input type="text" name="amount" class="easyui-textbox couponAmount" style="width: 100%;"/></td>
            </tr>
            <!-- <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">所属代理商:</td>
                <td><input type="text" name="userId" class="easyui-textbox" style="width: 100%;"/></td>
            </tr> -->
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">所属代理商:</td>
                <td><input type="text" name="couponAgent" id='couponAgent' class="easyui-combobox" 
                data-options='valueField:"id",textField:"text"' style="width: 100%;"/></td>
            </tr>
            <tr class="couponEdit">
                <td align="center" style="width: 120px;margin-bottom: 15px;">是否有效:</td>
                <td>
                	<select id="couponCombo" class="easyui-combobox" style="width: 100%;" data-options="editable:false,panelHeight:null,disabled:true">
	                    <option value="1">有效</option>
	                    <option value="0">无效</option>
	                </select>
                </td>
            </tr>
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">截止日期:</td>
                <!-- <td><input id="couponDeadline" type="text" class="easyui-datetimebox" style="width: 100%;" required="required"/></td> -->
                <td><input id="couponDeadline" type="text" class="easyui-datebox" style="width: 100%;" required="required"/></td>
            </tr>
            <!-- <tr>
                <td valign="top" align="center" style="width: 120px;margin-bottom: 15px;">证件预览:</td>
                <td><image style='width: 100%;height: 260px;' src='http://www.wentao.cc/Upload/editor/image/20140104/20140104232815_5769.jpg'/></td>
            </tr>
            <tr>
                <td align="center" style="width: 120px;margin-bottom: 15px;">上传:</td>
                <td><input class="easyui-filebox" data-options="buttonText:'浏览',buttonIcon:'fa fa-upload',accept: 'image/*'" style="width: 100%;"></td>
            </tr> -->
        </table>
    </form>
</div>

<!-- End of easyui-dialog -->
<script type="text/javascript">
;(function($){	
	var coupon = {
		list:[],
		init:function(){
			var _this = this;
			$('#datagrid-coupon').datagrid({});
			_this.attachEvent();
			setTimeout(function(){
				_this.getCouponList();
			},100);			
		},
		/*
		* 事件初始化
		 */
		attachEvent:function(){
			var _this = this;
			/*
			*表格操作，编辑、删除
			 */
			$('#coupon').on("click","a.op",function(e){
				var $op = $(this);
				var rowindex = $op.attr('data-rowindex');
				var type = $op.hasClass('edit')?'edit':'delete';
				_this.opertion(type,rowindex);		
			});
			/*			
			 *查询
			 **/
			$("#coupon .query").on("click",function(){
				_this.getCouponList();
			});
			/*
			* 新增优惠券
			 */
			$("#coupon .add").on("click",function(){
				_this.openDialog();
			});
		},
		/*
		* 获取优惠券列表
		 */
		getCouponList:function(){
			var _this = this;
			var URL = '/proxy/coupon/getList';
			$('#datagrid-coupon').datagrid({
				url:URL,
				method:'get',
				loadFilter:_this.pagerFilter,	
				height: 'auto',	
				rownumbers:true,
				singleSelect:false,
				pageSize:20,     
				pagination:true,
				multiSort:true,
				fitColumns:true,
				fit:true,
				singleSelect:true,
				checkOnSelect:false,
				toolbar:"#toolbar-coupon",
				queryParams: {
					// userId: '003'
					userId: ''
				},
				columns:[[
					// { field:'ck',title:'全选',width:100,sortable:true,checkbox:true},
					{ field:'id',title:'优惠券编码',width:100},
					{ field:'userId',title:'所属代理商',width:180,formatter:function(value,row,index){
						return row['user']['nickName'];
					}},
					{ field:'amount',title:'面值',width:100},
					{ field:'effect',title:'是否有效',width:100,formatter: function(value,row,index){
						if (row.effect){
							return '有效';
						} else {
							return '无效';
						}
					}},				
					{ field:'deadline',title:'截止日期',width:100,formatter: function(value,row,index){
						var deadline = new Date(row['deadline']).Format("yyyy-MM-dd");
						return deadline;
					}},
					{ field:'op',title:'操作',align:'left',width:180,formatter:function(value,row,index){
						var rowindex = index;
						var domHtml = '<a class="easyui-linkbutton primary op edit"  data-rowindex="'+rowindex+'">编辑</a><a class="easyui-linkbutton error op delete"  data-rowindex="'+rowindex+'">删除</a>';						
						return 	domHtml;				
					}}
				]],
				onBeforeLoad:function(params){
					params.pageSize = params.rows;
				    params.pageIndex = params.page;
				    delete params.rows;
				    delete params.page;
				},
				onLoadSuccess:function(data){
					_this.list = data.list;
					$("#coupon a.op").linkbutton();
				}
			});
		},
		/*
		* 自定义返回数据格式
		 */
		pagerFilter:function(data){			      
			if (!data.rows){
				data.rows = data.list;     
			}         
			return data;
		},
		/*
		* 表格操作 edit：编辑，delete：删除
		 */
		opertion:function(type,rowindex){
			var _this = this;
			switch(type){
				case 'edit':
					_this.openDialog(rowindex);
					break;
				case 'delete':
					$.messager.confirm('提示', '是否删除该记录?', function (r) {
			            if (r) {
			                _this.deleteCoupon(_this.list[rowindex]['id']);
			            }
			        });
					break;
			}
		},
		/*
		* 新增或编辑优惠券
		 */
		openDialog:function(rowindex){
			var _this = this;			
			_this.getAgentList();
			//清除数据
			$('#couponForm').form('clear');
			if(rowindex==""||rowindex==undefined){
				//新增
				$(".couponEdit").hide();
				_this.addCoupon();
			}else{
				//编辑
				$(".couponEdit").show();
				_this.editCoupon(rowindex);
			}			
		},
		/*
		* 编辑优惠券
		 */
		editCoupon:function(rowindex){
			var _this = this;			
			var coupon = _this.list[rowindex];

			var isEffect = coupon['effect']?'1':'0';
			var couponDeadline = new Date(coupon['deadline']).Format("yyyy-MM-dd");

			$('#couponCombo').combobox('setValue',isEffect);
			$('#couponDeadline').datebox('setValue', couponDeadline);
			
			$('#couponAgent').combobox('setValue',coupon.user['id']);
			//load数据
			$('#couponForm').form('load',coupon);
	        //打开对话框
			$('#whayer-dialog-coupon').dialog({
				closed: false,
				modal:true,
	            title: "编辑",
	            buttons: [{
	                text: '确定',
	                iconCls: 'icon-ok',
	                handler: function(){
	                	$('#whayer-dialog-coupon').dialog('close');
	                	_this.updateCoupon(coupon);
	                }
	            }, {
	                text: '取消',
	                iconCls: 'icon-cancel',
	                handler: function () {
	                    $('#whayer-dialog-coupon').dialog('close');                    
	                }
	            }]
	        });
		},
		/*
		* 更新优惠券
		 */
		updateCoupon:function(coupon){
			var _this = this;
			var deadline = $('#couponDeadline').datebox('getValue');
			//var userId='003';
			var userId = $('#couponAgent').combobox('getValue');
			var amount = $('.couponAmount').textbox('getValue');
			var param = {
				id:coupon['id'],
				userId:userId,
				amount:amount,
				deadline:deadline
			};
			//更新
			var url = '/coupon/update';
			whayer.post(url,param,function(res){
				_this.getCouponList();
			});
		},
		/*
		* 新增优惠券
		 */
		addCoupon:function(){	
			//需要登录
			var _this = this;
	        //打开对话框
			$('#whayer-dialog-coupon').dialog({
				closed: false,
				modal:true,
	            title: "新增优惠券",
	            buttons: [{
	                text: '确定',
	                iconCls: 'icon-ok',
	                handler: function(){
	                	$('#whayer-dialog-coupon').dialog('close');	                	
						var url = '/coupon/save';
						var amount = $('.couponAmount').textbox('getValue');
						var deadline = $('#couponDeadline').datebox('getValue');
						var uid = $('#couponAgent').combobox('getValue');
						var param = {
							userId:uid,
							deadline:deadline,				
							amount:amount
						};
						whayer.post(url,param,function(res){
							_this.getCouponList();
						});
	                }
	            }, {
	                text: '取消',
	                iconCls: 'icon-cancel',
	                handler: function () {
	                    $('#whayer-dialog-coupon').dialog('close');                    
	                }
	            }]
	        });			
		},
		/*
		* 删除优惠券
		 */
		deleteCoupon:function(id){			
			var _this = this;
			var url = '/coupon/deleteById';
			whayer.post(url,{id:id},function(res){
				_this.getCouponList();
			});
		},
		getAgentList:function(){
			//获取已通过验证的代理商列表
			var _this = this;
			var url = '/user/getUserListByType';
			var param = {
				name: '',
				isAudit:1,
				pageIndex:0,
				pageSize:1000
			};
			whayer.get(url,param,function(res){
				_this.agentFormater(res.list);
			});
		},
		agentFormater:function(list){
			var data = [];
			for(var i=0;i<list.length;i++){
				var obj = list[i];
				var item = {
					id:obj['id'],
					text:obj['nickName']
				}
				data.push(item);
			}
			$('#couponAgent').combobox('loadData',data);
		}
	};
	//
	coupon.init();	

})(jQuery);
	
</script>