<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<display-name>SKYG WebSite</display-name>

<description>尚康阳光</description>

<welcome-file-list>
  <welcome-file>/</welcome-file>
</welcome-file-list>

 <!-- TODO define those files -->
<error-page>
   <error-code>404</error-code>
   <location>/WEB-INF/jsp/error404.html</location>
</error-page>
<error-page>
   <error-code>500</error-code>
   <location>/WEB-INF/jsp/error500.html</location>
</error-page>
<error-page>
   <exception-type>java.lang.Exception</exception-type>
   <location>/WEB-INF/jsp/except.html</location>
</error-page>

<context-param>
   <param-name>contextConfigLocation</param-name>
   <!-- <param-value>/WEB-INF/classes/applicationContext*.xml</param-value> -->
   <param-value>classpath*:IOC*.xml</param-value>
</context-param>

<context-param>
   <param-name>test</param-name>
   <param-value>doyo</param-value>
</context-param>

<!-- 此监听器作用是预读取applicationContext.xml配置 -->
<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>

<listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
</listener>


<servlet>
	<servlet-name>springmvc</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:smvc-servlet.xml</param-value>
	</init-param>
	<!-- 自动装载servlet,值越小,优先级越高 -->
	<load-on-startup>1</load-on-startup>
	<!-- 开启支持异步 -->
	<async-supported>true</async-supported>
</servlet>
<servlet-mapping>
	<servlet-name>springmvc</servlet-name>
	<url-pattern>/</url-pattern>
</servlet-mapping>

<!-- <servlet>
	<servlet-name>initServlet</servlet-name>
	<servlet-class>com.whayer.wx.wechat.servlet.InitServlet</servlet-class>
	<load-on-startup>0</load-on-startup>
</servlet> -->

<filter>
	<filter-name>CharacterEncodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<!-- 记得servlet也要开启异步 -->
	<async-supported>true</async-supported>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>utf-8</param-value>
	</init-param>
	 <init-param>  
        <param-name>forceEncoding</param-name>  
        <param-value>true</param-value>  
    </init-param>  
</filter>

<filter-mapping>
	<filter-name>CharacterEncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
	<!-- 不填则默认对所有servlet生效 -->
	<servlet-name>springmvc</servlet-name>
</filter-mapping>

<!-- <filter>
	<filter-name>GZIPFilter</filter-name>
	<filter-class>com.whayer.wx.common.filter.GzipFilter</filter-class>
	<async-supported>true</async-supported>
</filter>

<filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher> 
    <dispatcher>ERROR</dispatcher> 
</filter-mapping> -->

<!-- **********************UPLOAD SERVLET BEGIN*************************** -->
<filter>
	<filter-name>jlfuFilter</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	<async-supported>true</async-supported>
</filter>

<filter-mapping>
	<filter-name>jlfuFilter</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>

<!-- <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.whayer.wx.upload.fileuploader.web.UploadServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/javaLargeFileUploaderServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UploadServletAsync</servlet-name>
    <servlet-class>com.whayer.wx.upload.fileuploader.web.UploadServletAsync</servlet-class>
    <load-on-startup>3</load-on-startup>
	开启支持异步
	<async-supported>true</async-supported>
</servlet>
<servlet-mapping>
    <servlet-name>UploadServletAsync</servlet-name>
    <url-pattern>/javaLargeFileUploaderAsyncServlet</url-pattern>
</servlet-mapping> -->
<!-- **********************UPLOAD SERVLET END*************************** -->

<session-config>
   <session-timeout>720</session-timeout>
</session-config>

<filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
        <param-name>exclusions</param-name>
        <param-value>/static/*,*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

<servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    <async-supported>true</async-supported>
</servlet>
<servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
</servlet-mapping>
</web-app>